@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans+Narrow&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat,PT Sans Narrow', "Montserrat", sans-serif;

}

.left-bar {
    background-color: white;
    width: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

/* This class represents the white bar on the right side */
.right-bar {
    background-color: white;
    width: 20px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}